/* Estilos personalizados para las flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  /* Agrega tus estilos personalizados aquí */
  width: 10px;
  color: black;

  /* Otros estilos personalizados */
}

/* Cambia el tamaño del ícono de flecha */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
}
